* {
    box-sizing: border-box;
    
  }
  
  body {
    background-color: #fff;
  }
  
  h1{
    font-weight: 400;
    color:#F4B400
  }
  h2{
    font-weight: 200;
  }
@media screen and (max-width:480px) {
    .form{
        width: 90%;
    }
}
@media screen and (min-device-width:481px) and (max-device-width:768px) {
    .form{
        width: 80%;
    }
}
@media screen and (min-width:769px) {
    .form{
        width: 70%;
    }
}
  .form {
    background-color: #ffffff;
    margin: 5vh auto 5vh auto;
    padding: 30px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px #333;
    text-align: center;
  }
  .signout {
    font-weight: 200;
    border-radius: 100px;
    border: none;
    background: #1a73e8;
    width: 50%;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 25px;
    font-size:16px;
    box-shadow: 0 2px 10px -3px #719BE6;
    display: block;
    margin: 55px auto 10px auto;
  }
  .signout:hover{
    box-shadow: 0 4px 8px 0px #719BE6;
  }
  .error{
    color:red;
    font-size: 14px;
    font-weight: 500;
}